[package]
name = "app"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
argh.workspace = true
colored.workspace = true
simple-graph.workspace = true
thiserror.workspace = true
